<style>
  .gradient-custom {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 185, 233, 1) 47%
    );
  }
  .card-style {
    background: rgb(98, 50, 85);
    background: radial-gradient(
      circle,
      rgba(98, 50, 85, 1) 0%,
      rgba(79, 49, 60, 1) 54%
    );
  }
</style>

<section class="vh-100 modal-fullscreen-lg-down gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card card-style text-white" style="border-radius: 1rem">
          <div class="card-body p-2 text-center">
            <div class="mb-md-3 mt-md-3 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Forgot Password Page</h2>
              <p class="text-white-50 mb-3">
                Enter your Email for Sending forgot password link
              </p>

              <form action="/forgot-password" method="post">
                <div class="form-check-inline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input
                    type="email"
                    name="email"
                    required
                    id="typeEmailX"
                    class="form-control form-control-lg"
                  />
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">
                  Get link
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
